<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="telegramSettings" type="SmtpTelegramRelay.TelegramConfiguration,SmtpTelegramRelay" />
    <section name="smtpSettings" type="SmtpTelegramRelay.SmtpConfiguration,SmtpTelegramRelay" />
  </configSections>

  <telegramSettings token="SPECIFY THERE TELEGRAM BOT TOKEN" chatId="SPECIFY THERE TELEGRAM CHATID" proxy="SPECIFY THERE PROXY ADDRESS AND PORT IF YOU NEED"/>
  <smtpSettings port="25" />

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
