<?xml version="1.0" encoding="utf-8" ?>

<nlog
  xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  autoReload="true"
  throwExceptions="false">

  <extensions>
    <add assembly="NLog.Telegram" />
  </extensions>

  <targets async="true">
    <target name="Console" xsi:type="Console"
      layout="${message}	${exception:format=tostring}"/>

    <target name="File" xsi:type="File"
      layout="${longdate}	${level}	${message}	${exception:format=tostring}"
      fileName="${basedir}/Logs/Current.log" 
      archiveFileName="${basedir}/Logs/${#}.log"
      archiveEvery="Day"
      archiveNumbering="Date"
      archiveDateFormat="yyyy-MM-dd"
      maxArchiveFiles="7"
      concurrentWrites="true"
      keepFileOpen="false"
      encoding="utf-8" />

    <target name="Telegram" xsi:type="Telegram"
      layout="${message}	${exception:format=tostring}"
      botToken="SPECIFY THERE TELEGRAM BOT TOKEN"
      chatId="SPECIFY THERE TELEGRAM CHATID"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="Console"/>
    <logger name="*" minlevel="Trace" writeTo="File"/>
    <logger name="*" minlevel="Warn" writeTo="Telegram" />
  </rules>

</nlog>